/* CSS Document */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,
body {
    padding: 0px;
    margin: 0px;
    /* color: #222; */
    font-family: "微软雅黑";
}

@font-face {
    font-family: electronicFont;
    src: url(~@/assets/font/DS-DIGIT.TTF)
}

body {
    background: #000d4a url(~@/assets/images/bg.jpg) center top;
    background-size: cover;
    color: #666;
    font-size: .1rem;
}

li {
    list-style-type: none;
}

i {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}

img {
    border: none;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #399bff;
}

a.active,
a:focus {
    outline: none !important;
    text-decoration: none;
}

ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0
}

a:hover {
    color: #06c;
    text-decoration: none !important
}


.clearfix:after,
.clearfix:before {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both
}

.pulll_left {
    float: left;
}

.pulll_right {
    float: right;
}

/*谷哥滚动条样式*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute
}

::-webkit-scrollbar-thumb {
    background-color: #5bc0de
}

::-webkit-scrollbar-track {
    background-color: #ddd
}

.el-table td.gutter, .el-table th.gutter{
  display: block !important;
  width: 2px !important;
}


.el-table__row {
    background-color: #0c2456 !important;
  }
  .el-table thead.is-group th {
    background-color: #0c2456 !important;
  }
  .el-table__body-wrapper {
    background-color: #0c2456 !important;
  }
  .cell,.cell div {
    /* color: aliceblue !important; */
    font-family: "Arial Normal", "Arial";
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: normal;
    text-align: center;
    line-height: normal;
    padding: 0 2px;
  }
  
  .el-icon-arrow-right {
    color: aliceblue !important;
    font-weight: 600;
  }
  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #133884 !important;
  }
  .el-input__inner {
    background-color: #0c2456 !important;
  }

  .el-table,  .el-table td,.el-table th{
      border: 1px solid #797979 !important;
}

.el-table th, .el-table tr{
    background-color: #0c2456 !important;
}

.boxall:before,
.boxall:after {
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  content: "";
  border-top: 2px solid #02a6b5;
  top: 0;
}

.boxall:before,
.boxfoot:before {
  border-left: 2px solid #02a6b5;
  left: 0;
}

.boxall:after,
.boxfoot:after {
  border-right: 2px solid #02a6b5;
  right: 0;
}

.boxfoot {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.boxfoot:before,
.boxfoot:after {
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  content: "";
  border-bottom: 2px solid #02a6b5;
  bottom: 0;
}

.el-table__indent{
  padding-left: 0 !important;
}
.el-table__placeholder{
  width: 0 !important;
}
html::-webkit-scrollbar {
  display: none;
}
.body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
  body::-webkit-scrollbar { 
  display: none;  
}